<!doctype html>
<html>
  <head>
    <title>LabelMaker</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="style.css" />
    <script src="app.js"></script>
  </head>
  <body ng-app="labelmaker">

    <!-- <h1><br /><br />LabelMaker<br /><br /></h1>

    <input type="text" id="text" placeholder="enter label text"/><br />
    
    <div style="flex-direction: row">
      <input type="file" id="file" /> &nbsp;<button id="load">Load Image</button>
    </div>

    <canvas id="label" width="640" height="480"></canvas>

    <div id="zoomed" class="hidden">
      <canvas id="hq" width="2560" height="1920" style="pointer-events: none;"></canvas>
    </div>

    <a href="" id="save" download="label.jpg">Save JPG</a> -->

    <div id="bottle" style="margin-right: 50px;">
      <img src="logo.png" width="120" id="logo" />
      <img src="bottle.png" width="200" style="margin-left: 50px; margin-right: 50px;" />
      <!-- <div class="arrow left"><i class="fas fa-chevron-left"></i></div>
      <div class="arrow right"><i class="fas fa-chevron-right"></i></div> -->
      <bottle-label></bottle-label>
      <input type="file" id="fileSelector" style="display: none;" />
      <button id="imageUpload" ng-click="pickFile('fileSelector')"><i class="far fa-image"></i>&nbsp;&nbsp;Upload your Image</button>
    </div>
    <div style="flex-direction: column; height: 600px;">
      <div id="header" style="flex-direction: row;">
        <h1>Fathers Day Flowers</h1>
      </div>
      <div style="flex-direction: row;">
        <div id="editor" style="flex-direction: column;">
          <div>
            <h2>Create your own beer label</h2>
            Add the details about your beer and a custom beer<br />
            label will be created for you. Use the arrows<br />
            beside the bottle to pick a different label design.
          </div><br />
          <div id="fieldset">
            <div ng-repeat="(k,line) in custom.lines">
              <label>Text - {{k}}</label><br />
              <input type="text" ng-model="custom.lines[k]" placeholder="{{k}}" /><br /><br />
            </div>
          </div><br />
          <div id="colours">
            <button colour-pick="custom.color" color="red"></button>
            <button colour-pick="custom.color" color="green"></button>
            <button colour-pick="custom.color" color="blue"></button>
            <button colour-pick="custom.color" color="yellow"></button>
            <button id="save" ng-click="save()" style="float: right;">Save as PNG</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>